@model ViewModel;
<div class="container-fluid bg-light border rounded">
    <div class="header container-fluid mb-4 mt-2 text-center">
        <h1 class="border-bottom" style="" class="text-center">Welcome to the Main Page, @Model.User.Alias!</h1>
    </div>
    <div class="header container-fluid">
        <div class="text-right">
            <a class="align-top" href="/logout">Logout</a>
        </div>
    </div>
    <div class="container-fluid ml-0 mr-0 border-bottom mb-3">
        <form class="col-8 d-inline-block" action="/PostIdea" method="post">
            <span class="text-danger d-block" asp-validation-for="Idea.Content"></span>
            <textarea class="form-control col-7 d-inline-block" asp-for="Idea.Content" rows="4" placeholder="post something witty here..."></textarea>
            <input type="hidden" asp-for="Idea.UserId" value="@Model.User.UserId">
            <input style="vertical-align: top;" class="btn btn-outline-success d-inline-block ml-3" type="submit" value="Post">
        </form>
    </div>
    <div class="posts mt-5">
        @{
            foreach(var idea in Model.DisplayIdeas)
            {
                <div class="idea mb-5">
                    <div class="col-3 d-inline-block text-right">
                        <h3 class="d-inline-block"><a href="UserPage/@idea.Creator.UserId">@idea.Creator.Alias</a> says:</h3> 
                    </div>
                    <div class="col-4 offset-1 d-inline-block border border-dark rounded pt-1 pl-2">
                        <p class="d-inline-block">@idea.Content</p>
                    </div>
                    <br>
                    <div class="col-4 offset-4 mt-2 p-0">
                        <div class="col-6 m-0 p-0 d-inline-block">
                            <a href="BrightIdeas/@idea.IdeaId">@idea.UsersWhoLiked.Count people</a> <h6 class="d-inline-block">liked this!</h6>
                        </div>
                        <div class="col-2 offset-1 m-0 p-0 d-inline-block">
                            @{
                                if(idea.UsersWhoLiked.Any(l => l.UserId == Model.User.UserId) == false)
                                {
                                    <form  action="/LikeThisIdea"  class="" method="post">
                                    <input type="hidden" asp-for="Like.IdeaId" value="@idea.IdeaId">
                                    <input type="hidden" asp-for="Like.UserId" value="@Model.User.UserId">
                                    <input class="btn btn-sm btn-primary" type="submit" value="Like">
                                    </form>
                                }
                                else
                                {
                                    <form  action="/LikeThisIdea"  class="" method="post">
                                    <fieldset disabled>
                                        <input type="hidden" asp-for="Like.IdeaId" value="@idea.IdeaId">
                                        <input type="hidden" asp-for="Like.UserId" value="@Model.User.UserId">
                                        <input class="btn btn-sm btn-primary" type="submit" value="Liked">
                                    </fieldset>
                                    </form>
                                }
                            }
                        </div>
                        <div class="col-2 m-0 p-0 d-inline-block">
                            @{
                                if(idea.UserId == Model.User.UserId)
                                {
                                    <a href="/delete/@idea.IdeaId" class="btn btn-sm btn-outline-danger ml-3">Delete</a>
                                }
                            }
                        </div>
                    </div>
                </div>
                <hr>
            }
        }
    </div>
</div>